/*.navigation-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 40px;
}



.navigation-brand {
    height: 100px;
    min-width: 100px;
    flex: 1 1 100%;
    background-color: #fff;
}



.navigation-menus {
    height: 100px;
    min-width: 100px;
    flex: 1 1 100%;
    background-color: #fff;
    ;
}



.navigation-user {
    height: 100px;
    min-width: 100px;
    flex: 1 1 100%;
    background-color: #fff;
    ;
}



@media only screen and (min-width:768px)
{
    .navigation-wrapper{
        flex-wrap:nowrap;
    }


    .navigation-brand {
       
              
    }



    .navigation-menus {


    }



    .navigation-user {


    }
}*/