* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    height: 100vh;
    width: 100vw;
    background-color: #bbb;
}
form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-wrapper {
    width: 60%;
    min-width: 320px;
}
.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 10px;
    width: 100%;
    background-color: #fff;
}
.form-header img {
    height: 50px;
}


.form-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #444;
    padding: 40px;
}
.form-body h5 {
    color: yellowgreen;
    align-self: flex-end;
    margin: 0;
}
hr {
    border: solid 1px white;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 35px;
}


.form-groups {
    width: 100%;
    margin-bottom: 25px;
    height: 80px;
}
.form-body .form-imputs-labels {
    color: white;
    margin: 0;
    font-size: 15px;
    color: yellowgreen;
}
.form-body .form-inputs {
    width: 100%;
}
.status {
    display: inline-block;
}


.form-submit {
    margin-top: 30px;
    padding: 3px 0;
    width: 200px;
    font-weight: bolder;
    align-self: flex-end;
}




#outterModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}
#inner-modal {
    background-color: #fff;
    margin: auto;
    padding: 25px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 4px;
}


#modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding-bottom: 6px;
}
#modal-logo {
    height: 30px;
}
#modal-close {
    color: yellowgreen;
}
#modal-close:hover,
#modal-close:focus {
    color: orange;
    cursor: pointer;
}


#modal-message {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 50px;
}
#modal-primary-message {
    text-align: center;
    font-size:24px;
    margin:0;
    padding:0;
}

#modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top: 6px;
}
#modal-counter-message {
    margin: 0px;
}


@media only screen and (min-width:960px) {

    #background {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-image: url('/Public/Imgs/Wizball/bg-min.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
    }
}