.tire-one-comps {
    display: flex;
    justify-content: space-around;
    text-wrap: none;
    background-color: yellowgreen;
    margin-top: 25px;
    border-radius: 7px 7px 0 0;

}
.competitions-wrapper {
    width:12.5%;
    padding: 15px 3px;
    margin: 0;
}
.competitions-wrapper img {
    width: 45px;
}



.scroll {
    overflow: scroll;
    cursor: n-resize;
}
::-webkit-scrollbar {
    display: none;
}



.my-grid {
    margin: 0 0 50px 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    width: 100%;
    color: #333;
    background-color: #fff;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
}


.my-grid-header {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #fff;
    background-color: #333;
}
.my-grid-header .my-grid-cell {
    padding: 8px 0;
    color:yellowgreen;
    font-weight:700;
}



.my-grid-cell:nth-child(1) {
    width:10%;
    min-width:25px;
}
.my-grid-cell:nth-child(2) {
    width: 10%;
    min-width: 25px;
}
.my-grid-cell:nth-child(3) {
    width: 26%;
    min-width: 95px;
}
.my-grid-cell:nth-child(4) {
    width: 14%;
    min-width: 85px;
}
.my-grid-cell:nth-child(5) {
    width: 26%;
    min-width: 95px;
}
.my-grid-cell:nth-child(6) {
    width: 14%;
    min-width: 50px;
}


.my-grid-body {
    margin: 0;
    padding: 0; 
    width: 100%;
    display: flex;
    flex-direction: column;
}


.my-grid-row {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    height:29px;
}
.my-grid-row:nth-child(even) {
    background-color: #ededed;
}
.my-grid-row .my-grid-cell {
    padding: 4px 0;
}


.my-grid-cell {
    margin: 0;
    padding: 0;
    width: 10%;
    align-self: center;
}






@media only screen and (max-width: 1199px) {

   


@media only screen and (max-width: 911px) {


}


@media only screen and (max-width: 767px) {

    .container {
        max-width: 650px;
    }   
}


@media only screen and (max-width: 575px) {

    .my-grid{
        font-size:9px;
    }
    .container{
        padding: 0 5px;
        margin:0;
    }


    .competitions-wrapper img {
        width: 32px;
    }

    .my-grid-cell:nth-child(2) {
        display: none;
    }




    .teamFlag {
        display: none;
    }
}
