/*form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.form-wrapper {
    width: 60%;
    min-width: 320px;
}

.form-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 10px;
    width: 100%;
    background-color: #fff;
}

    .form-header img {
        height: 30px;
    }

.form-body {
    color: white;
    border-radius: 3px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #444;

}

    .form-body h5 {
        color: yellowgreen;
        align-self: flex-end;
        margin: 0;
    }

.form-textarea {
    min-height: 32px;
    max-height: calc(10*32px);
}

hr {
    border: solid 1px white;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 35px;
}

.form-groups {
    width: 100%;
    margin-bottom: 25px;
    height: auto;
}

.form-body .form-imputs-labels {
    color: white;
    margin: 0;
    font-size: 12px;
    color: yellowgreen;
}

.form-body .form-inputs {
    width: 100%;
    font-size: 12px;
}

.status {
    display: inline-block;
    font-size: 12px;
}

.form-submit {
    margin-top: 30px;
    padding: 3px 0;
    width: 200px;
    font-weight: bolder;
    align-self: flex-end;
    font-size: 12px;
}





@media only screen and (min-width:960px) {

    .form-body {
        margin:50px;
        padding: 40px;
    }

    .form-body .form-imputs-labels {
        font-size: 15px;
    }

    .form-submit {
        font-size: 15px;
    }

    .form-body .form-inputs {
        font-size: 15px;
    }

    .status {
        display: inline-block;
        font-size: 15px;
    }
}

.btn {
    margin: 0 !important;
}

#attachmentInp {
    display: none;
}

.customFileUpload {
    padding: 0 30px;
}

    .customFileUpload #upload-status {
        font-size: 11px;
        color: orange;
    }

#btnCustomFileUpload {
    background-color: transparent;
    border: none;
    color: yellowgreen;
    font-size: 12px;
    cursor: pointer;
}
