body {
}

.navbar-nav {
    flex-direction: row;
}

.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

@media (min-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}

.headerBG, .headerBG img {
    width: 100%;
    max-height: 150px;
}

/**/.navbar {
}*

.compCBList input[type=checkbox] {
    display: none;
    text-decoration: none;
}

    .compCBList input[type=checkbox] + label {
        background: #999;
        height: 16px;
        width: 16px;
        display: inline-block;
        padding: 0 0 0 0px;
    }

    .compCBList input[type=checkbox]:checked + label {
        background: #0080FF;
        height: 16px;
        width: 16px;
        display: inline-block;
        padding: 0 0 0 0px;
    }
